<!DOCTYPE html>
<html>
<head>
    {% include site-head.html %}
</head>
<body class="blue" style="overflow-x: hidden">
{% include site-header.html %}
<div class="hero-subheader" style="padding: 0; height: 90px"></div>
<div class="section" style="background-color: #4489CC; height: calc(100vh - 300px);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1 style="margin: 0">What is inside the box ?</h1>
                <div style="max-width: 600px; margin: auto;" class="text-muted">
                    We haven't reinvented the wheel (and you should not, it kills kitties), so we packaged <strong>the most exciting projects</strong> of the web inside HEKO.
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center; margin-top: 50px;">
            <div class="col-md-3" style="margin-top: 50px;">
                <img src="theme/assets/images/pixijs.png" style="opacity: 1;">
                <p>The fastest, most flexible 2D WebGL renderer.</p>
            </div>
            <div class="col-md-3" style="margin-top: 50px;">
                <img src="theme/assets/images/matterjs.png" style="opacity: 1">
                <p>2D rigid body physics engine for the web.</p>
            </div>
            <div class="col-md-3" style="margin-top: 50px;">
                <img src="theme/assets/images/ecsy.png" style="opacity: 0.7;">
                <p>An highly experimental Entity Component System for the web</p>
            </div>
            <div class="col-md-3" style="margin-top: 50px;">
                <img src="theme/assets/images/colyseus.png" style="opacity: 1;">
                <p>Multiplayer Game Server for Node.js</p>
            </div>
        </div>
    </div>
</div>
<div class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1>Modern ES6 code using Babel</h1>
                <div style="max-width: 600px; margin: auto;" class="text-muted">
                    With Babel, you can build your game with modern features like Classes (with properties), Scoping, Arrow Functions, Destructuring, Promises, Modules.
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:table; width: 100%" id="example-code">
    <div style="display: table-cell; width: 50%; vertical-align: top;">
        {% capture example %}{% include homepage/example.md %}{% endcapture %}
        {{ example | markdownify }}
    </div>
    <div style="display: table-cell; width: 50%; background-color: #4489CC; vertical-align: top;">
        <div id="platform-code" style="display: none; position: absolute; width: 50%">
            {% capture example-platform %}{% include homepage/example-platform.md %}{% endcapture %}
            {{ example-platform | markdownify }}
        </div>
        <div id="player-code" style="display: none;  position: absolute; width: 50%">
            {% capture example-player %}{% include homepage/example-player.md %}{% endcapture %}
            {{ example-player | markdownify }}
        </div>
        <div id="example-container"></div>
    </div>
</div>
<script type="text/javascript" src="theme/assets/js/example.js"></script>
{% include site-footer.html %}
</body>
</html>
